@model List<AuthService.MVC.Models.BlogCommentViewModel>

<div class="container mt-5">
    @foreach (var comment in Model)
    {
        <div class="d-flex">
            @{
                var userAvatar = !string.IsNullOrEmpty(comment.UserAvatar) ? comment.UserAvatar : "/img/avatar.jpg";
            }
            <img src="@userAvatar" class="img-fluid rounded-circle p-3" style="width: 100px; height: 100px;" alt="">
            <div class="">
                <p class="mb-2" style="font-size: 14px;">@comment.CreatedTime.ToString("MMMM dd, yyyy")</p>
                <div class="d-flex justify-content-between">
                    <h5>@comment.UserName</h5>
                </div>
                <p>
                    @comment.Content
                </p>
            </div>
        </div>
    }
</div>