@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <div class="container mt-5">
            <div class="card mx-auto border-0" style="max-width: 64rem;">
                <img src="~/img/banner-fruits.jpg" class="card-img-top rounded" style="object-fit: cover; max-height: 400px" alt="">
                <div class="card-body">
                    <h1 class="card-title h4">Creative day off</h1>
                    <div class="text-muted small mt-2 d-flex align-items-center">
                        <span>by shufflehound</span>
                        <span class="mx-2">•</span>
                        <span>February 18, 2016</span>
                    </div>
                    <p class="text-muted text-small mt-1">DESIGN, TRAVEL</p>
                    <div class="container my-4">
                        <div class="row border-top pt-4 border-gray-300">
                            <div class="col-auto text-muted display-2">
                                “
                            </div>
                            <div class="col">
                                <p class="text-muted small mt-2">
                                    In malesuada urna magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus sit amet dui ut orci fermentum feugiat eget nec ipsum. Nam est mi, congue sit amet nulla non, egestas imperdiet nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris nec lacus ipsum. Sed lacinia lacus quis faucibus imperdiet. Morbi a est dolor.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        sadasdadasdsada sdadasdsadasdadasds adasdadasdsadasdadasd sadasdadasdsada sdadasdsadas dadasdsadasda dasdsadasdadasd sadasdadasdsada sdadasdsadasdadasdsadasdadasdsadasdadasd sadasdadasdsada sdadasdsadasdadasdsadasdadasdsadasdadasd sadasdadasdsada sdadasdsadasdadasdsadasdadasdsadasdadasd sadasdadasdsada sdadasdsadasdadasdsadasdadasdsadasdadasd sadasdadasdsada sdadasdsadasdadasdsadasdadasdsadasdadasd sadasdadasdsada sdadasdsadasdadasdsadasdadasdsadasdadasd sadasdadasdsada sdadasdsadasdadasdsadasdadasdsadasdadasd sadasdadasdsada sdadasdsadasdadasdsadasdadasdsadasdadasdv sadasdadasdsada sdadasdsadasdadasdsadasdadasdsadasdadasd
                    </div>
                </div>

                <div class="container mt-5 border-top p-5" >
                    <div class="d-flex">
                        <img src="~/img/avatar.jpg" class="img-fluid rounded-circle p-3" style="width: 100px; height: 100px;" alt="">
                        <div class="">
                            <p class="mb-2" style="font-size: 14px;">April 12, 2024</p>
                            <div class="d-flex justify-content-between">
                                <h5>Jason Smith</h5>
                                <div class="d-flex mb-3">
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <p>
                                The generated Lorem Ipsum is therefore always free from repetition injected humour, or non-characteristic
                                words etc. Susp endisse ultricies nisi vel quam suscipit
                            </p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <img src="~/img/avatar.jpg" class="img-fluid rounded-circle p-3" style="width: 100px; height: 100px;" alt="">
                        <div class="">
                            <p class="mb-2" style="font-size: 14px;">April 12, 2024</p>
                            <div class="d-flex justify-content-between">
                                <h5>Sam Peters</h5>
                                <div class="d-flex mb-3">
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <p class="text-dark">
                                The generated Lorem Ipsum is therefore always free from repetition injected humour, or non-characteristic
                                words etc. Susp endisse ultricies nisi vel quam suscipit
                            </p>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <form method="POST">
                        <h4 class="mb-5 fw-bold">Comment</h4>
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="border-bottom rounded my-4">
                                    <textarea name="content" id="" class="form-control border-0" cols="30" rows="8" placeholder="Leave your comment..." spellcheck="false"></textarea>
                                </div>
                            </div>
                            <input name="star" id="star-input" hidden />
                            <div class="col-lg-12">
                                <div class="d-flex justify-content-between py-3 mb-5">
                                    <div class="d-flex align-items-center">
                                        <p class="mb-0 me-3">Please rate:</p>
                                        <div class="d-flex align-items-center" style="font-size: 24px;">
                                            <i data-value="1" name="star" class="fa fa-star text-warning"></i>
                                            <i data-value="2" name="star" class="fa fa-star"></i>
                                            <i data-value="3" name="star" class="fa fa-star"></i>
                                            <i data-value="4" name="star" class="fa fa-star"></i>
                                            <i data-value="5" name="star" class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <button class="btn border border-secondary text-primary rounded-pill px-4 py-3"> Post Comment</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>