@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<h1 class="mb-4">Billing details</h1>
<hr />
<h5 class="font-weight-bolder text-success"><i class="fa fa-location-dot"></i> Delivery address</h5>
<div class="form-row font-weight-bold mb-4">
    <div class="col-md-4">Trần Phương Thái (0235456561)</div>
    <div class="col-md-8">123 đường Nguyễn Văn Linh, Phường Trung Kiên, Quận Thốt Nốt, Thành Phố Cần Thơ</div>
</div>
<div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Products</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">
                        <div class="d-flex align-items-center mt-2">
                            <img src="~/img/vegetable-item-2.jpg" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="">
                        </div>
                    </th>
                    <td class="py-5">Awesome Brocoli</td>
                    <td class="py-5">$69.00</td>
                    <td class="py-5">2</td>
                    <td class="py-5">$138.00</td>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="d-flex align-items-center mt-2">
                            <img src="~/img/vegetable-item-5.jpg" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="">
                        </div>
                    </th>
                    <td class="py-5">Potatoes</td>
                    <td class="py-5">$69.00</td>
                    <td class="py-5">2</td>
                    <td class="py-5">$138.00</td>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="d-flex align-items-center mt-2">
                            <img src="~/img/vegetable-item-3.png" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="">
                        </div>
                    </th>
                    <td class="py-5">Big Banana</td>
                    <td class="py-5">$69.00</td>
                    <td class="py-5">2</td>
                    <td class="py-5">$138.00</td>
                </tr>
                <tr>
                    <td class="py-5">
                        <span class="text-danger" style="padding: 10px; border: 1px solid red; font-size: 20px">Pending</span>
                        @*<span class="text-info" style="padding: 10px; border: 1px solid #00d8ff; font-size: 20px">Delivering</span>
                        <span class="text-success" style="padding: 10px; border: 1px solid #00a522; font-size: 20px">Received</span>
                        <span class="text-dark" style="padding: 10px; border: 1px solid gray; font-size: 20px">Canceled</span>*@
                    </td>
                    <td class="py-5">
                        <span class="text-info" style="padding: 10px; border: 1px solid green; font-size: 20px">VNPAY</span>
                    </td>
                    <td class="py-5"></td>
                    <td class="py-5">
                        <p class="mb-0 text-dark py-3">Total</p>
                    </td>
                    <td class="py-5">
                        <div class="py-3 border-bottom border-top">
                            <p class="mb-0 text-success font-weight-bold">$414.00</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                    </th>
                    <td class="py-5">
                    </td>
                    <td class="py-5"></td>
                    <td class="py-5"></td>
                    <td class="py-5">
                        @*<div class="d-inline-block row g-4 text-center align-items-center justify-content-center pt-4">
                            <form>
                                <button type="button" class="btn btn-info py-3 px-4 w-100 text-white">Deliver</button>
                            </form>
                        </div>*@
                        <div class="d-inline-block row g-4 text-center align-items-center justify-content-center pt-4">
                            <form>
                                <button type="button" class="btn btn-danger py-3 px-4 w-100 text-white">Cancle</button>
                            </form>
                        </div>
                        <div class="d-inline-block row g-4 text-center align-items-center justify-content-center pt-4 ml-3" style="margin-right: -100px">
                            <form>
                                <button type="button" class="btn btn-success py-3 px-4 w-100 text-white">Brow</button>
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>