@page
@model RegisterModel
@{
    ViewData["Title"] = "Đăng ký";
}

    <br/><br /><br /><br /><br />
    <div id="logreg-forms">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Sign up</h1>
        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
            <div class="social-login">
                <button class="btn google-btn social-btn" type="submit" name="provider" value="Google"><span><i class="fab fa-google-plus-g"></i> Sign up with Google+</span> </button>
                <button class="btn facebook-btn social-btn" type="submit" name="provider" value="Facebook"><span><i class="fab fa-facebook-f"></i> Sign up with Facebook</span> </button>
            </div>
        </form>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <input asp-for="Input.UserName" class="form-control" placeholder="UserName" />
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
            <br />
            <input asp-for="Input.Email" class="form-control" placeholder="Email" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
            <br />
            <input asp-for="Input.Password" class="form-control" placeholder="Password" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
            <br />
            <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

            <br />
            <button class="btn btn-success btn-block w-100" type="submit"><i class="fas fa-user-plus"></i> Sign up New Account</button>
            <hr>

            <p class="text-center">Already have an account!</p>
            <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-primary btn-block text-light" type="button"><i class="fas fa-sign-in-alt"></i> Sign in</a>
        </form>

        <form action="/reset/password/" class="form-reset">
            <input type="email" id="resetEmail" class="form-control" placeholder="Email address" required="" autofocus="">
            <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
            <a href="#" id="cancel_reset"><i class="fas fa-angle-left"></i> Back</a>
        </form>

        <form action="/signup/" class="form-signup">
            <div class="social-login">
                <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign up with Facebook</span> </button>
            </div>
            <div class="social-login">
                <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign up with Google+</span> </button>
            </div>

            <p style="text-align:center">OR</p>

            <input type="text" id="user-name" class="form-control" placeholder="Full name" required="" autofocus="">
            <input type="email" id="user-email" class="form-control" placeholder="Email address" required autofocus="">
            <input type="password" id="user-pass" class="form-control" placeholder="Password" required autofocus="">
            <input type="password" id="user-repeatpass" class="form-control" placeholder="Repeat Password" required autofocus="">

            <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Sign Up</button>
            <a href="#" id="cancel_signup"><i class="fas fa-angle-left"></i> Back</a>
        </form>
        <br>

    </div>

@section Scripts {
    <link href="~/css/login.css" rel="stylesheet">
    <partial name="_ValidationScriptsPartial" />
}