@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<br />
<!-- Checkout Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4">Billing details</h1>
        <form method="post" id="form">
            <div class="row g-5">
                <div class="col-md-12 col-lg-5 col-xl-4">
                    <div class="form-item">
                        <label class="form-label my-3">Name<sup>*</sup></label>
                        <input id="name" name="Order.CustomerName" type="text" class="form-control">
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Phone<sup>*</sup></label>
                        <input id="phone" name="Order.PhoneNumber" type="tel" class="form-control">
                    </div>

                    <input id="city" hidden />
                    <input id="district" hidden />
                    <input id="ward" hidden />
                    <input name="Order.Address" id="address" hidden />
                    <input name="Order.VoucherId" id="voucherId" hidden />
                    <input name="Order.UserId" id="userId" hidden />
                    <div class="form-item">
                        <label class="form-label my-3">City<sup>*</sup></label>
                        <select id="city-select" class="form-control">
                            <option value="">Select City</option>
                        </select>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">District<sup>*</sup></label>
                        <select id="district-select" class="form-control" disabled>
                            <option value="">Select District</option>
                        </select>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Ward<sup>*</sup></label>
                        <select id="ward-select" class="form-control" disabled>
                            <option value="">Select Ward</option>
                        </select>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Street<sup>*</sup></label>
                        <input id="street" onchange="" type="text" class="form-control" placeholder="House Number Street Name">
                    </div>
                </div>
                <div class="col-md-12 col-lg-7 col-xl-8">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Products</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Weight</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody id="order-details-table">
                            </tbody>
                        </table>
                    </div>
                    <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                        <div class="col-12">
                            <p class="text-start text-dark font-weight-bolder">Choose payment method</p>
                        </div>
                    </div>
                    <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                        <div class="col-12">
                            <div class="form-check text-start my-3">
                                <input name="Order.PaymentMethod" type="radio" class="form-check-input bg-primary border-0" id="Payments-1" value="0">
                                <label class="form-check-label" for="Payments-1">Cash On Delivery</label>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                        <div class="col-12">
                            <div class="form-check text-start my-3">
                                <input name="Order.PaymentMethod" type="radio" class="form-check-input bg-primary border-0" id="Delivery-1" value="1">
                                <label class="form-check-label" for="Delivery-1">VNPAY</label>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                        <div class="col-12">
                            <div class="form-check text-start my-3">
                                <input name="Order.PaymentMethod" type="radio" class="form-check-input bg-primary border-0" id="Paypal-1" value="2">
                                <label class="form-check-label" for="Paypal-1">Paypal</label>
                            </div>
                        </div>
                    </div>
                    <div id="order-details"></div>
                    <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                        <button type="submit" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Place Order</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Checkout Page End -->

@section Scripts {
    <script>
        const voucher = JSON.parse(localStorage.getItem('selectedVoucherItem'));
        const selectedCartItems = JSON.parse(localStorage.getItem('selectedCartItems'));
        const subtotal = JSON.parse(localStorage.getItem('subtotal'));
        const userId = JSON.parse(localStorage.getItem('userId'));

        const orderDetailTableElement = document.getElementById('order-details-table');
        selectedCartItems.forEach(item => orderDetailTableElement.innerHTML += `
                                <tr>
                                    <th scope="row">
                                        <div class="d-flex align-items-center mt-2">
                                            <img src="${item.thumbnail}" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="">
                                        </div>
                                    </th>
                                    <td class="py-5">${item.name}</td>
                                    <td class="py-5">$${(item.price * 1.0).toFixed(2)}</td>
                                    <td class="py-5">${item.quantity}</td>
                                    <td class="py-5">$${(item.price * item.quantity * 1.0).toFixed(2)}</td>
                                </tr>
                                `);

        orderDetailTableElement.innerHTML += `
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td class="py-5"></td>
                                    <td class="py-5"></td>
                                    <td class="py-5">
                                        <p class="mb-0 text-dark py-3">Subtotal</p>
                                    </td>
                                    <td class="py-5">
                                        <div class="py-3 border-bottom border-top">
                                            <p class="mb-0 text-dark">$${subtotal.toFixed(2)}</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td class="py-5"></td>
                                    <td class="py-5"></td>
                                    <td class="py-5">
                                        <p class="mb-0 text-dark py-3">Voucher</p>
                                    </td>
                                    <td class="py-5">
                                        <div class="py-3 border-bottom border-top">
                                            <p class="mb-0 text-dark">-$${(voucher ? voucher.discountPercent * subtotal / 100 : 0).toFixed(2)}</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td class="py-5">
                                        <p class="mb-0 text-dark text-uppercase py-3">TOTAL</p>
                                    </td>
                                    <td class="py-5"></td>
                                    <td class="py-5"></td>
                                    <td class="py-5">
                                        <div class="py-3 border-bottom border-top">
                                            <p class="mb-0 text-dark">$${(subtotal - (voucher ? voucher.discountPercent * subtotal / 100 : 0)).toFixed(2)}</p>
                                        </div>
                                    </td>
                                </tr>
                            `;



        // URL của JSON dữ liệu
        const dataUrl = "https://raw.githubusercontent.com/ThangLeQuoc/vietnamese-provinces-database/master/json/full_json_generated_data_vn_units.json";

        // Lấy các thẻ select
        const citySelect = document.getElementById('city-select');
        const districtSelect = document.getElementById('district-select');
        const wardSelect = document.getElementById('ward-select');
        const addressInput = document.getElementById('address');
        const cityInput = document.getElementById('city');
        const districtInput = document.getElementById('district');
        const wardInput = document.getElementById('ward');
        const streetInput = document.getElementById('street');
        const nameInput = document.getElementById('name');
        const phoneInput = document.getElementById('phone');
        const voucherIdInput = document.getElementById('voucherId');
        const userIdInput = document.getElementById('userId');
        const paymentMethodInputs = document.getElementsByName('Order.PaymentMethod');
        const orderDetailsElement = document.getElementById('order-details');

        // Hàm tải dữ liệu từ JSON
        fetch(dataUrl)
            .then(response => response.json())
            .then(data => {
                populateCitySelect(data);
            });

        // Hàm điền dữ liệu cho select City
        function populateCitySelect(data) {
            data.forEach(city => {
                const option = document.createElement('option');
                option.value = city.Code;
                option.textContent = city.Name;
                citySelect.appendChild(option);
            });

            citySelect.addEventListener('change', function () {
                const selectedCityCode = this.value;
                data.forEach(city => city.Code === selectedCityCode && (cityInput.value = city.FullName));
                populateDistrictSelect(data, selectedCityCode);
            });
        }

        // Hàm điền dữ liệu cho select District
        function populateDistrictSelect(data, cityCode) {
            districtSelect.innerHTML = '<option value="">Select District</option>';
            wardSelect.innerHTML = '<option value="">Select Ward</option>';
            districtSelect.disabled = true;
            wardSelect.disabled = true;

            const selectedCity = data.find(city => city.Code == cityCode);
            if (selectedCity) {

                selectedCity.District.forEach(district => {
                    const option = document.createElement('option');
                    option.value = district.Code;
                    option.textContent = district.FullName;
                    districtSelect.appendChild(option);
                });
                districtSelect.disabled = false;
            }

            districtSelect.addEventListener('change', function () {
                const selectedDistrictCode = this.value;
                selectedCity.District.forEach(district => district.Code === selectedDistrictCode && (districtInput.value = district.FullName));
                populateWardSelect(selectedCity, selectedDistrictCode);
            });
        }

        // Hàm điền dữ liệu cho select Ward
        function populateWardSelect(city, districtCode) {
            wardSelect.innerHTML = '<option value="">Select Ward</option>';
            wardSelect.disabled = true;

            const selectedDistrict = city.District.find(district => district.Code === districtCode);
            if (selectedDistrict) {
                selectedDistrict.Ward.forEach(ward => {
                    const option = document.createElement('option');
                    option.value = ward.Code;
                    option.textContent = ward.FullName;
                    wardSelect.appendChild(option);
                });
                wardSelect.disabled = false;
            }

            wardSelect.addEventListener('change', function () {
                const selectedWardCode = this.value;
                selectedDistrict.Ward.forEach(ward => ward.Code === selectedWardCode && (wardInput.value = ward.FullName));
            });
        }

        form.addEventListener('submit', function (event) {
            if (streetInput.value === '') {
                alert('Please enter street name!')
                event.preventDefault();
                return;
            }

            if (cityInput.value === '') {
                alert('Please choose city!')
                event.preventDefault();
                return;
            }

            if (districtInput.value === '') {
                alert('Please choose district!')
                event.preventDefault();
                return;
            }

            if (wardInput.value === '') {
                alert('Please choose ward!')
                event.preventDefault();
                return;
            }

            if (nameInput.value === '') {
                alert('Please enter receiver\'s name!')
                event.preventDefault();
                return;
            }

            if (phoneInput.value === '') {
                alert('Please enter receiver\'s phone number!')
                event.preventDefault();
                return;
            }

            let isCheck = false;
            paymentMethodInputs.forEach(item => {
                item.checked && (isCheck = true)
            })

            if (!isCheck) {
                alert('Please choose payment method!')
                event.preventDefault();
                return;
            }

            userIdInput.value = userId;
            voucherIdInput.value = !!voucher ? voucher.id : '';
            addressInput.value = streetInput.value + ', ' + wardInput.value + ', ' + districtInput.value + ', ' + cityInput.value;

            selectedCartItems.forEach((item, index) => {
                orderDetailsElement.innerHTML += `
                    <input type="text" name="OrderDetails[${index}].ProductId" value="${item.productId}" hidden>
                    <input type="text" name="OrderDetails[${index}].UserId" value="${item.userId}" hidden>
                    <input type="text" name="OrderDetails[${index}].Quantity" value="${item.quantity}" hidden>
                `;
            })

            console.log(userIdInput.value);
            
           /* event.preventDefault();*/
        });
    </script>
}