@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <h1 class="mb-4">Your orders</h1>
        <div class="container">
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item">
                    <a class="nav-link active" href="#">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pending</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Delivering</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Received</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cancelled</a>
                </li>
            </ul>
            <br />
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">10/10/2022</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"><div class="text-danger">Pending</div></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="height: 50px;">
                                    <th scope="row">
                                        <div class="d-flex align-items-center mt-2">
                                            <img src="~/img/vegetable-item-3.png" class="img-fluid rounded-circle" style="width: 50px; height: 50px;" alt="">
                                        </div>
                                    </th>
                                    <td class="py-4">Big Banana</td>
                                    <td class="py-4">$69.00</td>
                                    <td class="py-4">2</td>
                                    <td class="py-4">$138.00</td>
                                </tr>
                                <tr style="height: 50px;">
                                    <th scope="row">
                                        <div class="d-flex align-items-center mt-2">
                                            <img src="~/img/vegetable-item-3.png" class="img-fluid rounded-circle" style="width: 50px; height: 50px;" alt="">
                                        </div>
                                    </th>
                                    <td class="py-4">Big Banana</td>
                                    <td class="py-4">$69.00</td>
                                    <td class="py-4">2</td>
                                    <td class="py-4">$138.00</td>
                                </tr>
                                <tr style="height: 50px;">
                                    <th scope="row">
                                        <div class="d-flex align-items-center mt-2">
                                            <img src="~/img/vegetable-item-3.png" class="img-fluid rounded-circle" style="width: 50px; height: 50px;" alt="">
                                        </div>
                                    </th>
                                    <td class="py-4">Big Banana</td>
                                    <td class="py-4">$69.00</td>
                                    <td class="py-4">2</td>
                                    <td class="py-4">$138.00</td>
                                </tr>

                                <tr style="height: 50px;">
                                    <th scope="row">
                                    </th>
                                    <td class="py-4"></td>
                                    <td class="py-4"></td>
                                    <td class="py-4 text-primary">Total</td>
                                    <td class="py-4 text-primary" style="position: relative">
                                        $138.00
                                        <form style="position: absolute; left: 120px; top: 18px">
                                            <button class="btn btn-danger">Cancel</button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">10/10/2022</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"><div class="text-danger">Pending</div></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="height: 50px;">
                                    <th scope="row">
                                        <div class="d-flex align-items-center mt-2">
                                            <img src="~/img/vegetable-item-3.png" class="img-fluid rounded-circle" style="width: 50px; height: 50px;" alt="">
                                        </div>
                                    </th>
                                    <td class="py-4">Big Banana</td>
                                    <td class="py-4">$69.00</td>
                                    <td class="py-4">2</td>
                                    <td class="py-4">$138.00</td>
                                </tr>
                                <tr style="height: 50px;">
                                    <th scope="row">
                                        <div class="d-flex align-items-center mt-2">
                                            <img src="~/img/vegetable-item-3.png" class="img-fluid rounded-circle" style="width: 50px; height: 50px;" alt="">
                                        </div>
                                    </th>
                                    <td class="py-4">Big Banana</td>
                                    <td class="py-4">$69.00</td>
                                    <td class="py-4">2</td>
                                    <td class="py-4">$138.00</td>
                                </tr>
                                <tr style="height: 50px;">
                                    <th scope="row">
                                        <div class="d-flex align-items-center mt-2">
                                            <img src="~/img/vegetable-item-3.png" class="img-fluid rounded-circle" style="width: 50px; height: 50px;" alt="">
                                        </div>
                                    </th>
                                    <td class="py-4">Big Banana</td>
                                    <td class="py-4">$69.00</td>
                                    <td class="py-4">2</td>
                                    <td class="py-4">$138.00</td>
                                </tr>

                                <tr style="height: 50px;">
                                    <th scope="row">
                                    </th>
                                    <td class="py-4"></td>
                                    <td class="py-4"></td>
                                    <td class="py-4 text-primary">Total</td>
                                    <td class="py-4 text-primary" style="position: relative">
                                        $138.00
                                        <form style="position: absolute; left: 120px; top: 18px">
                                            <button class="btn btn-danger">Cancel</button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>