@model IEnumerable<AuthService.MVC.Models.CartItemViewModel>

<partial name="Components/_VoucherModal" />

<br />
<!-- Cart Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Products</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>

                <tbody id="cart-item-list">
                    <partial name="Components/_CartItemList" model="@Model" />
                </tbody>
            </table>
        </div>
        <div class="mt-5">
            <input type="text" class="border-0 border-bottom rounded me-5 py-3 mb-4" placeholder="No voucher was selected" disabled>
            <button class="btn border-secondary rounded-pill px-4 py-3 text-primary" data-toggle="modal" data-target="#exampleModalLong" type="button">Choose voucher</button>
        </div>
        <div class="row g-4 justify-content-end">
            <div class="col-8"></div>
            <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
                <div class="bg-light rounded">
                    <div class="p-4">
                        <h1 class="display-6 mb-4">Cart <span class="fw-normal">Total</span></h1>
                        <div class="d-flex justify-content-between mb-4">
                            <h5 class="mb-0 me-4">Subtotal:</h5>
                            <p class="mb-0">$96.00</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h5 class="mb-0 me-4">Voucher</h5>
                            <div class="">
                                <p class="mb-0">Discount: $3.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                        <h5 class="mb-0 ps-4 me-4">Total</h5>
                        <p class="mb-0 pe-4">$99.00</p>
                    </div>
                    <button class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4" type="button">Proceed Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart Page End -->
<script>
    function handleDeleteCartItem(userId, productId) {
        $.ajax({
            url: `/Cart/Delete?userId=${userId}&productId=${productId}`,
            type: 'DELETE',
            data: null,
            contentType: false,
            processData: false,
            success: function (response) {
                $.ajax({
                    url: '/Cart/GetAllCartItem',
                    type: 'GET',
                    success: function (data) {
                        $('#cart-item-list').html(data);
                    },
                    error: function (xhr, status, error) {
                        alert('Error: 1' + error);
                    }
                });
                $.ajax({
                    url: '/Cart/GetCountCartItem',
                    type: 'GET',
                    success: function (data) {
                        $('#cart-count').html(data);
                    },
                    error: function (xhr, status, error) {
                    }
                });
            },
            error: function (xhr, status, error) {
                alert('Error: 2' + error);
            }
        });
    }

    function handleUpdateCartItem(userId, productId, quantity) {
        var formData = new FormData();
        formData.append("userId", userId);
        formData.append("productId", productId);
        formData.append("quantity", quantity);

        $.ajax({
            url: `/Cart/Update`,
            type: 'PUT',
            data: formData,
            contentType: false,
            processData: false,
            success: function (response) {
                $.ajax({
                    url: '/Cart/GetAllCartItem',
                    type: 'GET',
                    success: function (data) {
                        $('#cart-item-list').html(data);
                    },
                    error: function (xhr, status, error) {
                        alert('Error: 1' + error);
                    }
                });
            },
            error: function (xhr, status, error) {
                alert('Error: 2' + error);
            }
        });
    }
</script>